@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
  background-color: #000;
  font-family: "Lato", sans-serif;
}
@media (max-width:768px){
  .navbar_logo{
    font-size:1rem;
  }
  .navbar_log_out{
    padding: 3px;
    font-size:0.9rem;
  }
  .main_container{
    top: 30%;
  }
}